body {
    background-image: url("../images/background.png");
    text-shadow: 2px 2px black;
    width: 100%;
}

[class*="col-"] {
    margin-top: 3%;
}
#landing {
    background-image: url("../images/misenplace.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    
}
h1 {
    margin-top: 5%;
    font-size: 525%;
    text-shadow: 2px 2px black;
}
#intro {
    margin-top: 5%;
    font-size: 140%;
    text-shadow: 2px 2px black;
}
.containerStyles {
    color: rgb(253, 248, 221);
    font-family: Quicksand;
    text-align: center;
    overflow: auto;
}
#indexContent {
    margin-bottom: 3%;
}
h2 {
    text-align: center;
    font-size: 200%;
    font-family: Quicksand;
}
.form-group {
    font-size: 200%;
    max-width: 40%;
    margin-left: 10%;
    text-align: left;
}
.btn {
    text-shadow: none;
    background-color: lightgray;
    border: none;
    color: black;
}
.inventories {
    background-color: yellow;
    margin: 4%;
}
.expire {
    background-color: red;
    margin: 4%;
}
#footerContainer {
    overflow: hidden;
    text-align: center;
    background: rgb(240, 240, 240);
    width: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 90%;
    height: 4.5em;
    padding-top: 1em;
    text-shadow: none;
}
#footer {

    overflow: auto;
    text-align: center;
    color:black;
    background: darkgray;
    width: 100%;
    border-top-left-radius: 90%;
    border-top-right-radius: 10%;
    height: 4.5em;
    padding-top: 1em;
    text-shadow: none;
}